/* Navbar ---------------------------------------------------*/
/* Header ---------------------------------------------------*/

.Header-bg-colour {
    background-color: rgb(226, 83, 107);
}

.d-inline {
    display: inline;
}

.gallery-pic-1 {
    background: url() no-repeat;
}