@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.site-bg {
    background-color: pink;
}

/* Header ---------------------------------------------------*/

.heading-bg-color {
    background-color: rgb(78, 42, 22);
    max-height: 80px;
}

.heading-spacing {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.d-inline {
    display: inline;
}

.logo-pic {
    background: url(/assets/IMGs/logo\ test\ 3.png) no-repeat;
    background-position: center;
    position: relative;
    height: auto;
    max-width: 100%;
    
}

.title-style {
    color: pink;
    font-size: 28px;
    font-family: 'Viaoda Libre', cursive;
}

/* Section 1 ---------------------------------------------------*/

